.apiKey {
    margin: 10px 0;
    font-size: 16px;
    color: #000;
}

.categories {
    display: flex;
    margin: 5px;
}

.getCategories {
    margin: 5px;
    border-radius: 10%;
    cursor: pointer;
}